{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
	<form method="POST" action="{{ path('login') }}" class='form'>
		<div class='cube-margin'>
			<h1>
				Connexion
			</h1>
		</div>

		<!-- mail -->
		<div class='cube-margin block-cube block-input'>
            <label for="_username"></label>
			<input type="email" id="username" name='_username' placeholder='Email'>
			<div class='cube-top'>
				<div class='cube-inner'></div>
			</div>
			<div class='cube-right'>
				<div class='cube-inner'></div>
			</div>
			<div class='cube'>
				<div class='cube-inner'></div>
			</div>
		</div>

		<!-- mot de passe -->
		<div class='cube-margin block-cube block-input'>
            <label for="_password"></label>
			<input name='_password' id="password" placeholder='Mot de passe' type='password'>
			<div class='cube-top'>
				<div class='cube-inner'></div>
			</div>
			<div class='cube-right'>
				<div class='cube-inner'></div>
			</div>
			<div class='cube'>
				<div class='cube-inner'></div>
			</div>
		</div>

		<!-- connexion -->
		<button class='btn-login block-cube block-cube-hover' type="submit">
			<div class='cube-top'>
				<div class='cube-inner'></div>
			</div>
			<div class='cube-right'>
				<div class='cube-inner'></div>
			</div>
			<div class='cube'>
				<div class='cube-inner'></div>
			</div>
			<div class='text'>
				Se connecter
			</div>
		</button>
	</form>
{% endblock %}
