{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}

{% block body %}
 <h1 class="Home">Bienvenue dans votre bibliothèque !</h1>
    <div class="wrapper">
        <h2>
            <strong>Les Compétences<span>( 3 )</span></strong>
        </h2>
        <div class="cards">
            <figure class="card">
                {% for skill in skills %}
                    <img src="{{skill.image}}" />
		            <figcaption>{{ skill.nom }}</figcaption>
	            {% endfor %}
            </figure>
        </div>
    </div>

{% endblock %}
