{% extends 'base.html.twig' %}

{% block title %}Création Tâche{% endblock %}
    
{% block body %}
    {{ form_start(form) }}
		<h2>Entrez le numéro de la semaine :</h2>
		{{ form_widget(form.number) }}

		{{ form_widget(form.Enregistrer) }}
    {{ form_end(form) }}
{% endblock %}