{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
   <section id="morpion">
        <h1>Morpion</h1>
        <div class="morpion-content">
            <div data-index="0" class="case"></div>
            <div data-index="1" class="case"></div>
            <div data-index="2" class="case"></div>
            <div data-index="3" class="case"></div>
            <div data-index="4" class="case"></div>
            <div data-index="5" class="case"></div>
            <div data-index="6" class="case"></div>
            <div data-index="7" class="case"></div>
            <div data-index="8" class="case"></div>
        </div>
        <h6 class="fs-18 mg-s"></h6>
        <button id="replay" class="mg-s">Recommencer</button>
    </section>

{% endblock %}
