{% extends 'base.html.twig' %}

{% block title %}Hello BulletController!
{% endblock %}

{% block body %}
	<div class="masonry">
        <div class="item">
			<div class="item__content item__content--large">
				<h1 class="txt-center">Lundi</h1>
				<p class="fs-25">test</p>
				<div class="d-flex jc-sa fs-18">
					<span class="tag">tag</span>
					<span class="tag">tag</span>
					<span class="tag">tag</span>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="item__content item__content--large">
				<h1 class="txt-center">Lundi</h1>
			</div>
		</div>
	</div>
{% endblock %}
