/******** INDEX ********/

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
#admin {
    font-family: "Indie Flower", cursive;
    color: #ccc;
    padding-left: 2rem;
    counter-reset: listCounter;
    >h1 {
        font-size: 2rem;
    }
    >h2 {
        display: inline-block;
        font-size: 1.2rem;
        border-bottom: 2px solid #111;
    }
}

.admin-list {
    padding-left: 0.5rem;
    margin-bottom: 2.8rem;
    img {
        width: 200px;
    }
}

.admin-list li {
    margin-bottom: 0.6rem;
}


/******** SCROLL ********/

.scroll-top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    left: 10px;
    i {
        font-size: 2rem;
        color: #ccc;
    }
}


/******** BUTTONS ********/

.close:hover,
.close:focus {
    box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

$colors: (close: #ff7f82, slide: #8fc866, pulse: #ef6eae);
@each $button,
$color in $colors {
    .#{$button} {
        --color: #{$color};
        --hover: #{adjust-hue($color, 45deg)};
    }
}

.button-modif {
    color: var(--color);
    transition: 0.25s;
    &:hover,
    &:focus {
        border-color: var(--hover);
        color: #fff;
    }
}

.button-modif {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 0.5em 1em;
}

.font-mono {
    font-family: monospace, serif;
}


/******** FORMS ********/

#form {
    background-image: url('../../public/images/back.jpg');
    display: flex;
    flex-direction: column;
    margin: 1px;
    font-family: 'Roboto Mono', monospace;
}

.form-modif {
    text-align: center;
    .title {
        background-color: floralwhite;
        margin: 24px 32%;
        border-radius: 20px;
        border: black solid 3px;
        box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
        h1 {
            margin: 0;
        }
    }
    .input {
        margin: 24px 32%;
        input {
            background: #f2f2f2;
            border: 0;
            box-sizing: border-box;
            font-size: 14px;
            margin: 0 0 15px;
            padding: 15px;
            width: 100%;
            border: black solid 3px;
        }
    }
    .cat:hover {
        color: darksalmon;
        font-size: 20px;
        transition: 0.5s;
    }
}