.card-bullet:before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    background-color: #ccc;
    content: counter(item-counter);
}

.bullet-section {
    animation: gradient 10s ease infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    justify-content: center;
    min-height: 500px;
    position: relative;
}