/******** CARD PRESENTATION ********/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
#bts-sio {
    font-family: 'Roboto Mono', monospace;
}

.select {
    border: #ccc 1px solid;
    border-radius: 10px;
}

.select h2 {
    padding: 0% 19.5%;
    background-color: cadetblue;
}

.flash {
    animation-duration: 4s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes clignoter {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bg-blue-active {
    background-color: rgb(190, 228, 228);
}

.bg-blue-active:hover {
    background-color: cadetblue;
}

@media(max-width: 1300px) {
    .select h2 {
        padding: 0% 14%;
    }
}

@media(max-width: 1120px) {
    .select h2 {
        padding: 0% 8%;
    }
}

.btn {
    display: block;
    margin: 20px auto;
    font-size: 20px;
    color: #333;
    padding: 15px 40px;
    background: rgb(190, 228, 228);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 6px rgb(103, 129, 129);
    font-family: 'Roboto Mono', monospace;
}

.btn:hover {
    background: 0 6px cadetblue;
    color: #ccc;
    top: 1px;
}

.btn:active {
    background: 0 0 cadetblue;
    color: #ccc;
    top: 6px;
}


/******** CARDS PROFIL ********/

@import url('https://fonts.googleapis.com/css?family=Abel');
.left {
    grid-area: l;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(54, 63, 80, 0.8392156863);
    ;
}

.right {
    grid-area: r;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(255, 255, 255, 0.8);
}

.grid-container {
    display: grid;
    grid-template-areas: 'l l r r r r';
    grid-gap: 5px;
    background-color: #ccc;
    border-radius: 10px;
    font-family: Abel, Arial, Verdana, sans-serif;
}

.grid-container>div {
    font-size: 30px;
}

.width {
    width: 200px;
}

.icon-profil {
    font-weight: 600;
    font-size: 20px;
    i {
        font-size: 40px;
    }
}

.text-mobile {
    font-size: 20px;
}

@media(max-width: 500px) {
    .text-mobile {
        font-size: 13px;
    }
}


/******** CARDS SIO ********/

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --rotation: -3deg;
}

.slam-card {
    padding: 3rem 0.5rem;
}

.card-sio {
    width: 100%;
    font-family: Abel, Arial, Verdana, sans-serif;
    .card-inner {
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        &:after {
            background-color: #80b895;
        }
    }
    .card-image {
        width: 300px;
        height: 350px;
    }
    .card-content {
        width: 100%;
        margin-left: 2rem;
    }
    .card-title {
        font-weight: 700;
    }
    .card-p {
        font-weight: 500;
        color: #5f5f5f;
        font-size: 1.125em;
        margin-top: 0.125em;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.card-inner {
    display: flex;
    flex-direction: column;
    border: 2px solid #1d1d1d;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: #fff;
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 95%;
        height: 100%;
        bottom: -9px;
        left: calc(50% - 47.5%);
        border-radius: 20px;
        border: 2px solid #1d1d1d;
    }
}

.card-image {
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}