$cube_body: #212121;
$cube_gradient_last_color: rgba(0, 212, 255, 1);
$cube_gradient: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(52, 9, 121, 1) 37%, $cube_gradient_last_color 94%);
;

/******** FORM ********/

.form {
    width: 300px;
    padding: 64px 15px 24px;
    margin: 0 auto;
    font-family: monospace, serif;
    .cube-margin {
        margin: 0 0 24px;
        h1 {
            color: cadetblue;
            text-align: center;
            text-transform: uppercase;
        }
        input {
            width: 100%;
            padding: 14px 16px;
            border: 0;
            background: transparent;
            color: #fff;
            font-family: monospace, serif;
            letter-spacing: 0.05em;
            font-size: 16px;
            &:hover,
            &:focus {
                outline: none;
                border: 0;
            }
        }
    }
    .btn-login {
        width: 100%;
        display: block;
        padding: 14px 16px;
        background: transparent;
        outline: none;
        border: 0;
        color: #fff;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-family: monospace;
        font-size: 16px;
        cursor: pointer;
    }
}


/******** CUBES ********/

.block-cube {
    position: relative;
    .cube-top {
        position: absolute;
        height: 10px;
        background: rgb(2, 0, 36);
        background: $cube_gradient;
        bottom: 100%;
        left: 5px;
        right: -5px;
        transform: skew(-45deg, 0);
        margin: 0;
        .cube-inner {
            bottom: 0;
        }
    }
    .cube {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgb(2, 0, 36);
        background: $cube_gradient;
    }
    .cube-right {
        position: absolute;
        background: rgb(2, 0, 36);
        background: rgba(0, 212, 255, 1);
        top: -5px;
        z-index: 0;
        bottom: 5px;
        width: 10px;
        left: 100%;
        transform: skew(0, -45deg);
        .cube-inner {
            left: 0;
        }
    }
    .cube {
        .cube-inner {
            transition: all 0.2s ease-in-out;
        }
    }
    .cube-inner {
        background: $cube_body;
        position: absolute;
        left: 2px;
        top: 2px;
        right: 2px;
        bottom: 2px;
    }
    .text {
        position: relative;
        z-index: 2;
        color: #ccc;
    }
    &.block-input {
        input {
            position: relative;
            z-index: 2;
            &:focus~.cube-right .cube-inner,
            &:focus~.cube-top .cube-inner,
            &:focus~.cube-inner .cube-inner {
                top: 100%;
                background: rgba(255, 255, 255, 0.5)
            }
        }
        .cube-top,
        .cube-right,
        .cube {
            background: rgba(255, 255, 255, 0.5);
            transition: background 0.2s ease-in-out;
        }
        .cube-right,
        .cube-top {
            .cube-inner {
                transition: all 0.2s ease-in-out;
            }
        }
        &:focus,
        &:hover {
            .cube-top,
            .cube-right,
            .cube {
                background: rgba(255, 255, 255, 0.8);
            }
        }
    }
    &.block-cube-hover:focus,
    &.block-cube-hover:hover {
        .cube {
            .cube-inner {
                top: 100%;
            }
        }
    }
}