/****************** STORE PAGE ******************/

.wrapper h2 {
    padding: 10px;
    padding-left: 25px;
    color: #ccc;
    margin: 0;
    z-index: 1;
}

.wrapper h2 strong {
    z-index: 2;
    background: #24282f;
    padding: 4px 8px;
}

.wrapper h2 span {
    font-size: 0.7em;
    color: #aaa;
    margin-left: 10px;
}

.wrapper h2:after {
    content: '';
    z-index: 1;
    bottom: 50%;
    margin-bottom: -2px;
    height: 2px;
    left: 0;
    right: 0;
    background: #373d47;
}

.wrapper h2:after,
.cards .card figcaption,
.cards .card:after,
.projects .card figcaption,
.projects .card:after,
.projects .article figcaption {
    position: absolute;
}

.wrapper h2,
.wrapper h2 strong,
.cards .card,
.projects .card,
.projects .article {
    position: relative;
}

.cards,
.projects {
    display: flex;
}

.wrapper {
    padding: 15px;
}

.cards,
.projects {
    flex-flow: row wrap;
}

.cards .card,
.projects .card {
    margin: 20px;
    width: 350px;
    height: 235px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: 0.3s;
    cursor: pointer;
}

.cards .card img,
.projects .card img {
    width: 100%;
    min-height: 100%;
}

.cards .card figcaption,
.projects .card figcaption {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    background: none;
    transform: translateY(100%);
    transition: 0.3s;
    color: white;
}

.cards .card:after,
.projects .card:after {
    content: '';
    z-index: 10;
    width: 200%;
    height: 100%;
    top: -90%;
    left: -20px;
    opacity: 0.1;
    transform: rotate(45deg);
    background: linear-gradient(to top, transparent, #fff 15%, rgba(255, 255, 255, 0.5));
    transition: 0.3s;
}

.cards .card:hover img,
.projects .card:hover img,
.cards .card:focus img,
.projects .card:focus img,
.cards .card:active img,
.projects .card:active img {
    filter: blur(100px);
    transform: scale(0.97);
}

.cards .card:hover figcaption,
.projects .card:hover figcaption,
.cards .card:focus figcaption,
.projects .card:focus figcaption,
.cards .card:active figcaption,
.projects .card:active figcaption {
    transform: none;
}

.cards .card:hover:after,
.projects .card:hover:after,
.cards .card:focus:after,
.projects .card:focus:after,
.cards .card:active:after,
.projects .card:active:after {
    transform: rotate(25deg);
    top: -40%;
    opacity: 0.15;
}