{% extends 'base.html.twig' %}

{% block title %}Parcours professionnel{% endblock %}

{% block body %}
    <section id="Parcours-timeline">
        <div class="timeline-start">Parcours profesionnel</div>
        <div class="line"></div>
        <div class="timeline-content">

            <div class="experience">
                <div class="left-exp">
                    <div class="content-left">
                        <h1>BAC STMG option marketing mention bien</h1>
                        <p>
                            Lycée Pierre du Terrail / Pontcharra
                            <span class="number">01</span>
                        </p>
                    </div>
                </div>
                <div class="right-exp">
                    <div class="content-right">
                        <h1>Bac marketing :</h1>
                        <ul>
                            <li>Veille marketing</li>
                            <li>Etude de marché</li>
                            <li>projet aménagement cinéma</li>
                        </ul>
                    </div>
                </div>
                <div class="date-content">
                    <span class="year">2018</span>
                </div>
            </div>

            <div class="experience">
                <div class="left-exp">
                    <div class="content-left">
                        <h1>BTS MUC Management des Unités Commerciales</h1>
                        <p class="d-flex jc-c">
                            <a class="d-flex column" href="https://www.satoriz.fr/magasin-bio/satoriz-crolles/" target="_blank">
                                Satoriz Crolles
                                <img src="https://cdn2.telephone.city/200/satoriz.png"></img>
                            </a>
                            <a class="d-flex column" href="http://www.lgm.ac-grenoble.fr/" target="_blank">
                                Lycée du Grésivaudan Meylan
                                <img src="./images/lgm.png"></img>
                            </a>
                            <span class="number">02</span>
                        </p>
                    </div>
                </div>
                <div class="right-exp">
                    <div class="content-right">
                        <h1>Missions :</h1>
                        <ul>
                            <li>Management d'équipe</li>
                            <li>Projets d'aménagment et d'atelier</li>
                            <li>vente, mise en rayon</li>
                            <li>Gestion des factures</li>
                        </ul>
                    </div>
                </div>
                <div class="date-content">
                    <span class="year">2020</span>
                </div>
            </div>

            <div class="experience">
                <div class="left-exp">
                    <div class="content-left">
                        <h1>BTS SIO Services Informatiques aux Organisations</h1>
                        <p class="d-flex jc-c">
                            <a class="d-flex column" href="https://www.cned.fr/" target="_blank">
                                <img src="https://www.cned.fr/themes/custom/ud_cned/dist/img/logo.svg"></img>
                            </a>
                            <a class="d-flex column" href="https://www.kiwilab.fr/" target="_blank">
                                <img src="/images/kiwi.png"></img>
                            </a>
                            <a class="d-flex column" href="https://cfp-charmilles.com/" target="_blank">
                                <img src="/images/charmilles.png"></img>
                            </a>
                            <span class="number">03</span>
                        </p>
                    </div>
                </div>
                <div class="right-exp">
                    <div class="content-right">
                        <h1>Missions :</h1>
                        <ul>
                            <li>Programmation de site internet et création d'application</li>
                            <li>Corrections de bugs et test de sites</li>
                            <li>Projets web avec Symfony</li>
                        </ul>
                    </div>
                </div>
                <div class="date-content">
                    <span class="year">2022</span>
                </div>
            </div>

            <div class="experience">
                <div class="left-exp">
                    <div class="content-left">
                        <h1>Bachelor game design & programming</h1>
                        <p class="d-flex jc-c">
                            <a class="d-flex column" href="https://www.ynov.com/" target="_blank">
                                <img src="/images/ynov.png"></img>
                            </a>
                            <a class="d-flex column" href="http://www.lugludum.com/fr" target="_blank">
                                <img src="http://www.lugludum.com/medias/images/Logo_Lugludum_White_Text_inline_SD.png"></img>
                            </a>
                            <span class="number">04</span>
                        </p>
                    </div>
                </div>
                <div class="right-exp">
                    <div class="content-right">
                        <h1>Missions à venir :</h1>
                        <ul>
                            <li>Programmation sous Unity et Unreal Engine</li>
                            <li>Gestion site internet</li>
                            <li>apprentissage C, C#, C++</li>
                            <li>De nombreux projets</li>
                        </ul>
                    </div>
                </div>
                <div class="date-content">
                    <span class="year">2023</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
