{% extends 'base.html.twig' %}

{% block title %}Création d'une catégorie{% endblock %}
    
{% block body %}
	<section id="form">
		{{ form_start(form) }}
		
		<div class="form-modif">
			<div class='title'>
				<h1>
					Création catégorie
				</h1>
			</div>

			<div class='input'>
				<h2>Entrez le nom de la catégorie :</h2>
				{{ form_widget(form.name) }}
			</div>
	</section>
{% endblock %}