{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>
            <strong>Les projets<span>( 5 )</span></strong>
        </h2>
        <div class="projects">
            {% for project in projects %}
                <div class="cards">
                    <a href="{{ project.lien }}" target="_blank">
                        <figure class="card">
                            <img src="{{ project.image }}" />
                            <figcaption>
                                <h3>{{ project.name }}</h3>
                                <p>
                                    {{ project.description }}
                                </p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
