{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2>
            <strong>Les projets<span>( 3 )</span></strong>
        </h2>
        <div class="cards">
            <figure class="card">
                <img src="/images/trex.jpg" />
		        <figcaption>
                <h3>Jeu du Trex</h3>
                <p>
                    J'ai refais ce jeu mondialement connu en langage C#, afin de m'entrainer avec ce langage tout en s'ammusant !
                </p>
            </figcaption>
            </figure>
        </div>
    </div>
{% endblock %}
