<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-social-linkedin"></i></a><a href="#">P</a>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Accueil</a></li>
                <li class="list-inline-item"><a href="#">Projets</a></li>
                <li class="list-inline-item"><a href="#">CV</a></li>
                <li class="list-inline-item"><a href="#">Jeux</a></li>
            </ul>
            <p class="copyright">Gwen Portfolio © 2022</p>
    </footer>
</div>