<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
</head>

<div class="navbar">
    <a class="brand" href=""><img src="../../assets/images/logo.PNG"></a>
    <div class="navigation">
        <a class="nav-item" href="">STORE</a>
        <a class="nav-item" href="">TABLEAU</a>
        <a class="nav-item" href="">CV</a>
    </div>
    <div class="profile">
        <div class="center-content">
            <img class="avatar" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/23/230fbc4cfb66b0a6f7123117a7c80fa9689b4999_full.jpg">
        </div>
    </div>
</div>